body{
    overflow-x: hidden !important;
}

/* Navbar */


/* Jumbotron */
.jumbotron {
    background-image: url("../images/bg-1.png");
    width: 100%;
    height: 616px;
}


.sc {
    margin-top: 133px;
}

.opensans {
    font-family: 'Open Sans', sans-serif !important;
}

.j-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.02em;
}

.btn-postit {
    width: 132px;
    height: 33px;
    left: 102px;
    top: 463px;
    background: #0086B0;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

.main-one .card {
    height: 180px;
}


/* MAIN TWO */
.main-two {
    background-image: url("../images/bg-2.png");
    height: 250px;
    width: 100%;
}

.btn-postit-2 {
    width: 132px;
    height: 40px;
    left: 102px;
    top: 463px;
    background: #0086B0;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}


/* footer */
.footer {
    margin-top: 70px;
    background-color: #292929;

}

footer .container {
    padding-top: 63px;
}

.footer-p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.p-sub {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.btn-sub {
    width: 103px;
    height: 27px;
    background: #0086B0;
    border-radius: 2px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;
    padding: 5px;
}

.footer-input input{
    width: 80%;
}




/* MEDIA QUERY FOR JUMBOTRON */
@media (max-width: 767.98px) {
    .jumbotron {
        height: auto;
        padding-bottom: 20px;
    }
}

/* Media Query for Footer */
@media (min-width: 769px) { 
    .footer-input{
        position: relative;
    }
    .footer-button{
        position: absolute;
        top: 2px;
        right: 50px;
    }
 }